

.header-bac{
    .zero-pad{
        padding: 0;
    }
    .head-buttons{
        gap: 20px;
    }
    background-color: rgb(25, 33, 38);
    .logo{
        height: 75px;
        width: 75px;
        border-radius: 50%;
    }
}
